body h1,
h2,
h3,
h4 {
  font-weight: 700;
}

#carouselExampleAutoplaying {
  background-color: goldenrod;
}

.apresentacao-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  background-color: #8b0000;
  color: white;
}
.apresentacao-textos #titulo {
  font-size: 60px;
}
.apresentacao-textos p {
  margin: 20px;
  width: 65%;
}

.sobre-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin: 50px;
}
.sobre-textos h3 {
  font-size: 50px;
}
.sobre-textos p {
  margin: 20px;
  width: 80%;
}

.depoimentos {
  text-align: center;
  color: white;
  background-color: darkred;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.gallery img {
  width: 200px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}
.depoimentos h3 {
  padding: 10px;
  font-size: 50px;
  margin-bottom: 10px;
}
.depoimentos .gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.depoimentos .gallery img {
  width: 350px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 5px 20px 10px rgba(71, 0, 0, 0.651);
}

.depoimentos .gallery img:hover {
  transform: scale(1.1);
}

.Destaques-textos h3 {
  margin: 20px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Destaques {
  background-image: url(../img/DestaquesBanner/Fundo/FundoTemplo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.carossel-carros-destaque {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carrosel-carros {
  display: flex;
  transform: scale(1.2);
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: -400px;
  white-space: nowrap;
}
.carro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s ease-in-out;
  z-index: 1;
}
.carro img {
  width: auto;
  height: 300px;
}
.active {
  transform: scale(1.1);
}
.portas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.porta-esquerda,
.porta-direita {
  width: 50%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform-origin: center;
  position: relative;
  z-index: 3;
}
.porta-esquerda {
  transform: scaleX(0);
  transform-origin: right center;
}
.porta-direita {
  transform: scaleX(0);
  transform-origin: left center;
}
