
/*Barra de navegação*/
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.navbar-brand {
    margin-right: 50px;
    justify-self: end;
}
.navbar-nav {
    display: flex;
    list-style: none; 
    margin-left: auto; 
}
.nav-item {
    margin-left: 20px; 
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link{
    color: black;
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(214, 66, 66);
}
.btn-pesquisar {
    background-color: rgb(196, 31, 31); 
    color: white; 
    border-color: darkred;
  }
.btn-pesquisar:hover {
    background-color: darkred; 
    border-color: darkred;
}
.btn-barra-pesquisa{
    display: flex;
    justify-self: end;
}
body{
  background-image: url('/ConcessionariaDeCarros-main/public/img/DestaquesBanner/Fundo/fundov.jpg');
  background-position: center;
  background-size: cover;
}

/*Mascote - Perfil Funcionários*/

.mascote-container .mascote {
  width: 10%;
  height: auto;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.mascote-container {
  width: 5%;
  height: auto;
  position: relative;
  text-align: center;
}
.mascote-container .fala {
  position: fixed;
  bottom: 55px;
  right: 120px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid gold;
  padding: 5px;
  width: 400px;
  text-align: center;
  overflow: hidden;
  animation: fala 2s ease !important;
}
.mascote-container .texto-fixo {
  position: absolute !important;
  left: 0 !important;
  margin-top: 12px !important;
  top: 50% !important;
  width: 90% !important;
  position: relative !important;
  white-space: nowrap !important;
}
@keyframes fala {
  from {
    width: 0px !important;
  }
  to {
    width: 400px !important;
  }
}

/*PERFIL FUNCIONÁRIO*/
#perfil-funcionario-container {
  height: 50vh;
}
.perfil-funcionario {
  backdrop-filter: blur(2px);
  border-radius: 25px;
  color: white;
  text-align: center;
  margin: 60px;
  padding: 60px;
  margin-left: 190px;
  box-shadow: 0px 0px 10px rgba(53, 34, 5, 0.5);
  width: 50%;
}
#perfil-funcionario h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
#perfil-funcionario h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
#perfil-funcionario form {
  max-width: 400px;
  margin: 0 auto;
}
#perfil-funcionario select,
#perfil-funcionario input[type="number"],
#perfil-funcionario input[type="text"],
#perfil-funcionario textarea,
#perfil-funcionario button {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#perfil-funcionario button {
  background-color: darkgoldenrod;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#perfil-funcionario button:hover {
  background-color: goldenrod;
  color: darkred;
}
