/*Barra de navegação*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  margin-right: 50px;
  justify-self: end;
}
.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
}
.nav-item {
  margin-left: 20px;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link {
  color: black;
}
.navbar-nav .nav-item .nav-link:hover {
  color: rgb(214, 66, 66);
}
.btn-pesquisar {
  background-color: rgb(196, 31, 31);
  color: white;
  border-color: darkred;
}
.btn-pesquisar:hover {
  background-color: darkred;
  border-color: darkred;
}
.btn-barra-pesquisa {
  display: flex;
  justify-self: end;
}
body {
  background-image: url("/ConcessionariaDeCarros-main/public/img/DestaquesBanner/Fundo/fundov.jpg");
  background-position: center;
  background-size: cover;
}

.card {
  background-color: darkred;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(71, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}

.CarrosForm {
  padding: 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CarrosForm button {
  border: none;
  display: flex;
  background-color: goldenrod;
}
.CarrosForm h2 {
  color: white;
}

.car-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  color: white;
}

.car-image {
  width: 80%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  padding: 20px;
  margin-bottom: -10px;
}

.car-info {
  font-weight: bold;
  display: block;
  margin-right: 650px;
  padding: 60px;
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.car-container:hover .car-image {
  transform: translateX(-150%);
}

.car-container:hover .car-info {
  opacity: 1;
}

.buy-button {
  background-color: goldenrod;
  color: darkred;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  color: darkred;
  background-color: darkorange;
}
.car-container a {
  text-decoration: none;
}
.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery img {
  border-radius: 20px;
  width: 480px;
  height: auto;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 5px 20px 10px rgba(71, 0, 0, 0.651);
}

.gallery img:hover {
  transform: scale(1.1);
}
.card p {
  text-align: center;
  font-size: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
}
